input {
    height: 20%;
    width: 40%;
    font-size: 24px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    width: 15rem;
    flex-direction: column;
}

.add_cart {
    border: black 2px solid;
    background-color: #9ec62f;
    height: 30%;
    width: 80%;
    font-size: 24px;
    margin-top: 10%;
    border-radius: 5px;

}

@media (max-width : 1300px) {
    select {
        height: 20%;
        width: 60%;
    }
    
}