@keyframes add_active {
    from {
        background-color: #9ec62f;
        border: 0px;
    }

    to {
        background-color: #739123;
        border: 4px solid white;
    }
    
}

html, body {
    display: flex;
    width: 100%;
    margin: 0;
    flex-wrap: wrap;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position:fixed;
    background-color: rgb(30, 30, 30);
    height: 7rem;
    width: 100%;
}

header :first-child {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#apple_header {
    width: 80px;
    height: 80px;
    margin: 10px;
}

#title {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vw;
    margin: 10px;
}

@media (min-width: 1440px) {
    #title {
        font-size: 3.7vw;
    }


}

header > div {
    height: 100%;
}

#cart{
    height: 5rem;
    width: 8rem;
    margin-right: 20px;
    border-radius: 10px;
    cursor: pointer;
    padding-bottom: 8px;
    padding-top: 8px;
}


section {
    display: flex;
    height: 30rem;
    width: 100%;

    margin: 20px;
}

.back_ground_light {
    background-color: rgb(60, 60, 60);;
    height: 100%;
    width: 35%;


    display: flex;
    justify-content: center;
    align-items: center;
}

.apple {
    width: 70%;
}

.back_ground_dark {
    background-color: rgb(45, 45, 45);
    height: 100%;
    width: 65%;
}

#first_section {
    margin-top: 8rem;;
}

#second_section {
    margin-top: 0;
}

#third_section {
    margin-top: 0;
}

.header {
    display: flex;
    height: 15%;
    width: 100%;
    background-color: rgb(30, 30, 30);
    justify-content: center;
    align-items: center;
    color: azure;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 45px;
    
}

@media (max-width : 1300px) {
    .back_ground_light {
        flex-wrap: wrap;
    }
}

input {
    height: 20%;
    width: 40%;
    font-size: 24px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    width: 15rem;
    flex-direction: column;
}

.add_cart {
    border: black 2px solid;
    background-color: #9ec62f;
    height: 30%;
    width: 80%;
    font-size: 24px;
    margin-top: 10%;
    border-radius: 5px;
    cursor: pointer;
    color: black  ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_cart:active {
    animation-name: add_active;
    animation-duration: 0.1s;
}

@media (max-width : 1300px) {
    select {
        height: 20%;
        width: 60%;
    }
    
}

@media (max-width : 1440px) {
    .add_cart {
        height: 40%;
    }
}

.text_header {
    font-size: 5vh;
}